<div>
  <app-navbar></app-navbar>
</div>
<div>
  <carousel>
    <slide>
      <img src="../assets/img/1.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../assets/img/2.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../assets/img/3.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
</div>
<div class="row">
  <div class="col-md-3">
    <img src="../assets/img/1.jpg" alt="first slide" style="display: block; width: 100%;">
  </div>
  <div class="col-md-3">
    <img src="../assets/img/1.jpg" alt="first slide" style="display: block; width: 100%;">
  </div>
  <div class="col-md-3">
    <img src="../assets/img/1.jpg" alt="first slide" style="display: block; width: 100%;">
  </div>
  <div class="col-md-3">
    <img src="../assets/img/1.jpg" alt="first slide" style="display: block; width: 100%;">
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src="../assets/img/2.jpg" alt="second slide" style="display: block; width: 100%;">
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <p>CHOICE CHECKER <br> COMMUNITY</p>
      <p>simple simplesimplesimplesimplesimplesimplesimple simplesimplesimplesimplesimplesimple</p>
      <button class="btn btn-sm" style="background-color: pink; color: white">Click</button>
    </div>
    <div class="col-md-6" style="padding-top: 10px">
      <img src="../assets/img/2.jpg" alt="second slide" style="display: block; width: 100%;">
    </div>
  </div>
</div>
<h4>REVIEW PRODUCTS</h4>
<div class="row">
  <div class="col-md-4">
    <img src="../assets/img/3.jpg" alt="third slide" style="display: block; width: 100%;">
  </div>
  <div class="col-md-4">
    <img src="../assets/img/3.jpg" alt="third slide" style="display: block; width: 100%;">
  </div>
  <div class="col-md-4">
    <img src="../assets/img/3.jpg" alt="third slide" style="display: block; width: 100%;">
  </div>
</div>
<app-footer></app-footer>
