<div>Logo</div>
<div class="navbar">
  <div class="row">
    <!--<ul class="nav navbar-nav">-->
      <!--<li>-->
        <!--<a>HOME</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a>ALL PRODUCTS</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a>ARTICLES</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a>ABOUT US</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a>CONTACT US</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a>search</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a>lang</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a>shop</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a>LOGIN</a>-->
      <!--</li>-->
    <!--</ul>-->

    <div class="col">HOME</div>
    <div class="col">ALL PRODUCTS</div>
    <div class="col">ARTICLES</div>
    <div class="col">ABOUT US</div>
    <div class="col">CONTACT US</div>
    <div class="col">search</div>
    <div class="col">lang</div>
    <div class="col">shop</div>
    <div class="col">LOGIN</div>
  </div>
</div>
