<!--<div class="container-fluid">-->
  <div class="navbar container-fluid">
    <div class="justify-content-center">Logo</div>
    <!--<div class="row">-->
      <!--<div class="col">HOME</div>-->
      <!--<div class="col">ALL PRODUCTS</div>-->
      <!--<div class="col">ARTICLES</div>-->
      <!--<div class="col">ABOUT US</div>-->
      <!--<div class="col">CONTACT US</div>-->
      <!--<div class="col">search</div>-->
      <!--<div class="col">lang</div>-->
      <!--<div class="col">shop</div>-->
      <!--<div class="col">LOGIN</div>-->
    <!--</div>-->
    <div class="row">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ALL PRODUCTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">lang</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LOGIN</a>
        </li>
      </ul>
    </div>
  </div>
<!--</div>-->
